.card{
    width: 518px;
    background-color: var(--cor-base);
    border-radius: 15px;
  
    margin-bottom: 10px;
    margin-top: 10px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
}
.card-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px 15px 25px;

    border-bottom: solid 2px var(--cor-clara-escura);
}

.card-head h1{
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    color: var(--cor-contraste);
} 

.card-head input[type="checkbox"]{
    accent-color: #AA948B;
    width: 20px;
    height: 20px;
    border-radius: 30px;
}

.card-head input[type="checkbox"]:hover{
    cursor: pointer;
}




.card-text{
    font-size: 12px;
    padding: 20px;
    color: var(--cor-contraste);
}


.card-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.card-left .card-tag{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
 


    width: 100px;
    height: 28px;
    border-radius: 50px;
    background-color: var(--cor-clara-escura);

    font-size: var(--zoom-descricao-size);
    color: var(--cor-contraste);

    text-align: center;}