
.head-card-criar .btn-cor-tarefa{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    border-radius: 50px;
    margin-right: 10px;}

.head-card-criar .btn-cor-tarefa:hover{
   background-color: var(--cor-clara-escura);
cursor:pointer;}

.head-card-criar .btn-cor-tarefa img{
    display: block;
    width: 21.41px;
    height: 21.41px;}

.logo-mudar-cor path{
    fill: var(--cor-media);}








.opcoes-cores{
    bottom: 30px;

    display: flex;
    gap: 5px;
    border-radius: 100px;
    
    padding: 5px;

    position: relative;
    bottom: 25px;

    background-color: #FFFAF8;}

.opcoes-cores span{
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 50%;

    padding: 5px;}

.opcoes-cores span:hover{
    border: solid 1px #AC968D;
    cursor: pointer;
}

.opcoes-cores .cor-1{
    background-color:#F6E2C7;}

.opcoes-cores .cor-2{
    background-color:#F4B0A7;}

.opcoes-cores .cor-3{
    background-color:#C6BCF4 ;}

.opcoes-cores .cor-4{
    background-color:#96DCC2 ;}

.opcoes-cores .cor-5{
    background-image: url("../icones/xadrez.png");
    background-position: center center;
    background-repeat: no-repeat;
    
    border: solid 1px rgb(167, 167, 167);}









    

.esconder-opcoes-cores{
    display: none;
}